/* src/pages/components/BackOrderPopup/BackOrderPopup.module.css */
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 80vh;
    overflow-y: auto;
/*     width: 600px; /* Set a fixed width for the popup content */ */
}

.popupContent h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8rem;
    text-align: center;
}

.backOrderTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.backOrderTable th,
.backOrderTable td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.backOrderTable th {
    background-color: #f0f3f4;
    font-weight: 500;
}

.backOrderTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.backOrderTable input[type="number"] {
    width: 80px; /* Adjust input width as needed */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.buttonsContainer {
    text-align: right; /* Align buttons to the right */
    margin-top: 20px;  /* Add some space above the buttons */
}


.submitButton, .closeButton {
    background-color: #2563eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px; /* Space between buttons */
    transition: background-color 0.3s ease;
}

.submitButton:hover, .closeButton:hover {
    background-color: #1d4ed8;
}

.closeButton {
    background-color: #6b7280; /* Grey close button */
}

.closeButton:hover {
    background-color: #555b68; /* Darker grey on hover */
}